@page
@model IndexModel
@{
    ViewData["Title"] = "PDF.js Demo";
}
<div class="full-height has-info-line">
    <div class="alert alert-warning full-width info-line">
        Below is the <a target="_blank" href="https://mozilla.github.io/pdf.js/">PDF.js</a> distribution.
    </div>
    <div class="full-height">
        <iframe src="pdfjs" class="full-height full-width"></iframe>
    </div>
</div>