@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" style="margin-top:10px;">
    <div class="col-sm-6">
        <p>This site tests the zip file provider. See the <a href="pdfjs">PDF.js folder</a>.</p>
    </div>
</div>