html, body, .full-height {
    height: 100%;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

body {
    padding-top: 50px;
}

.v-scroll {
    overflow-y: auto;
}

.h-scroll {
    overflow-x: auto;
}

.info-line {
    margin-bottom: 0;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.has-info-line {
    position: relative;
    padding-top: 50px;
}

iframe {
    border: none;
}

.navbar-text a {
    color: #d5d8d8;
    text-decoration: underline;
}

    .navbar-text a:active,
    .navbar-text a:hover {
        color: #fff;
    }
